*.o
*.a
*.lo
*.so
*.so.*
config.mak
src/include/shh-portable-utils/config.h
/basename
/cat
/chgrp
/chmod
/chown
/cut
/dirname
/false
/link
/ln
/mkfifo
/nice
/nohup
/renice
/tee
/true
/uname
/uniq
/unlink
/wc
